<!DOCTYPE html>
<html>
  <head>
  <title> Twig example </title>
  {{pregen.head}}
  </head>
    <body>
      {{pregen.header}}
    SOME HETEROGENEOUS DATA WILL GO HERE
    <code><pre>{{src|e}}</pre></code>
    {{pregen.footer}}
    </body>
</html>
