<!DOCTYPE html>
<html>
  <head>
<title> Twig example </title>
<link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
    <body>
    SOME HETEROGENEOUS DATA WILL GO HERE
    <code> <pre>{{src|e}}</pre></code>
    </body>
</html>
