<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
      {{set }}
      <h1>My Webpage</h1>
      <pre><code>
      {{ src | e }}
      </code></pre>
    </body>
</html>
