<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mr.American Mustache</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    English MOustache would like to add some heterogenous data from a dictionary
    so Mr.American Mustache can learn how to spell his name properly.
    {{src}}
  </body>
</html>
