<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mr.American Mustache</title>
    {{{pregen.head}}}
  </head>
  <body>
    {{{pregen.header}}}
    <code><pre>
      {{ src }}
    </pre></code>
    {{{pregen.footer}}}
  </body>
</html>
